div.task {
    position: absolute;
    width: 1200px;
}

div.task img {
    position: absolute;
    margin-left: 16px;
}

div.task .text-container {
    background-color: #111;
    color: #fff;
    padding: 12px;
    position: absolute;
    top: 16px;
    left: 104px;
    max-width: 1200px;
    border-radius: 8px;
    font-size: 20px;
}

div.task .text-container:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 14px 16px 0px 0;
    border-color: transparent #111;
    position: absolute;
    left: -16px;
    top: 14px;
}