body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body::-webkit-scrollbar { 
    width: 0 !important;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li.message {
    max-height: 0px;
    display: block;
    position: relative;
    right: -400px;
    opacity: 0;
    width: 600px;
    margin: 4px;
}

ul li div.text-container {
    float: left;
    margin-left: 20px;
    width: calc(600px - 96px);
    position: relative;
}

ul li div.text-container:after {
    content: "";
    border-width: 20px 20px 20px 0;
    border-style: solid;
    border-color: transparent #024E68;
    position: absolute;
    left: -20px;
    top: 26px;
    display: block;
}

ul li .icon {
    float: left;
    display: block;
    width: 64px;
    height: 64px;
    -webkit-border-radius: 64px;
    padding-right; 16px;
}

ul li user {
    display: block;
    background-color: #3AAACF;
    padding: 4px;
    padding-left: 8px;
    height: 18px;
    line-height: 18px;
}

ul li message {
    display: block;
    background-color: #024E68;
    padding: 8px;
    font-size: 1.5em;
}

ul li.op user {
    background-color: #FF8300;
}

ul li.op div.text-container:after {
    border-color: transparent #A65500;
}

ul li.op message {
    background-color: #A65500;
}

ul li.joined div.text-container:after {
    display: none;
}

ul li.joined user {
    background-color: #00BB3F;
    /*color: #007929;*/
    color: #fff;
}

ul li.joined message {
    background-color: #007929;
    color: #37DD6F;
}

ul li.left div.text-container:after {
    display: none;
}

ul li.left user {
    background-color: #666;
    /*color: #333;*/
    color: #fff;
}

ul li.left message {
    background-color: #333;
    color: #666;
}

ul.badges {
    position: absolute;
    top: 34px;
    right: 587px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 100;
    width: 400px;
}

ul li.badge {
    position: relative;
    float: right;
    margin: 0;
    margin-left: 8px;
    padding: 0;
    display: inline-block;
    width: 31px;
    height: 31px;
    background-color: #024E68;
    border-radius: 45px;
    border: 2px solid #3AAACF;
}

ul li.badge img {
    position: relative;
    top: -6px;
    left: -13px;
}

ul li div.icon-founder {
    width: 128px;
    height: 26px;
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    top: -4px;
}

ul li.founder img.icon-founder-frame {
    position: absolute;
    top: -13px;
    left: -8px;
}

ul li div.themite {
    background: url("/images/forum-badge-themis.png");
}

ul li div.astraean {
    background: url("/images/forum-badge-astraean.png");
}

ul li div.hyperion {
    background: url("/images/forum-badge-hyperion.png");
}

ul li div.delfos {
    background: url("/images/forum-badge-fos.png");
}

ul li div.delfi {
    background: url("/images/forum-badge-fi.png");
}

ul li div.efkosnan {
    background: url("/images/forum-badge-nan.png");
}

ul li div.chosen {
    background: url("/images/forum-badge-chosen.png");
}

#new-follower {
    position: absolute !important;
    top: calc(50% - 72px);
    left: calc(50% - 256px);
    z-index: 300;
}

#new-follower p {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 512px;
    line-height: 36px;
    font-size: 48px;
    font-family: 'Orbitron', sans-serif;
    color: #00f5ff;
    opacity: 0;
}

.blue-glow {
    text-shadow: 8px 8px 32px #00f5ff,
    -8px 8px 32px #00f5ff,
    8px -8px 32px #00f5ff,
    -8px -8px 32px #00f5ff;
}

.position {
    position: absolute;
    bottom: 128px;
    right: 600px;
    width: 4px;
    height: 4px;
}

.grower {
    position: absolute;
    margin: 0;
    bottom: 0;
}

.clearfix {
    clear: both;
}

