.popout {
    position: absolute;
    bottom: 128px;
    width: 300px;
}

.popout .popout-text-container {
    position: absolute;
    top: 300px;
    left: 200px;
    background-color: #fff;
    color: #000;
    width: 300px;
    padding: 16px;
    font-size: 20px;
    border-radius: 8px;
}

.popout .popout-text-container:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 20px 20px 20px 0;
    border-color: transparent #fff;
    position: absolute;
    width: 0px;
    left: -15px;
    top: 8px;
}